:root {
  font-size: 16px;
  letter-spacing: 0.0015em;
  --dark-gray: #455363;
  --light-gray: #8d959f;
  --off-white: #f9f9fa;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  color: var(--dark-gray);
  background-color: var(--off-white);
}

a {
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 16px;
}

a:hover {
  color: var(--dark-gray);
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.005em;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: -0.005em;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.0015em;
}

subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.0015em;
  display: block;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15vh;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

/* Nav Bar */
#nav-bar {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 51px;
  justify-content: space-between;
}

.nav-link {
  margin-left: 60px;
}

.nav-link:first-of-type {
  margin-left: 0px;
}

#logo {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.inactive {
  color: var(--light-gray);
  font-weight: 400;
}

.active {
  font-weight: 500;
}
/* End Nav Bar */

/* Intro */
#hello-text {
  margin-top: 0px;
  margin-bottom: 20px;
}

#hello-support-text {
  margin-top: 0px;
  margin-bottom: 40px;
}

#intro-body {
  margin-top: 0px;
  margin-bottom: 0px;
}

.intro-text {
  flex: 0 1 58%;
}

.intro-learn-more {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 0px;
  line-height: 22px;
}

.intro-image {
  display: block;
  margin: auto;
}
/* End Intro */

/* Start My Work */
#my-work-title {
  margin-top: 15vh;
  margin-bottom: 0px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08), 0px 3px 10px rgba(0, 0, 0, 0.05);
  transition: 300ms;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-padding {
  padding: 24px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 24px;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-role {
  text-align: right;
  font-weight: 500;
}

.project-description {
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 33em;
}

.project-cta {
  display: block;
  font-weight: 700;
  transition: 300ms;
  margin-left: auto;
  margin-right: auto;
  color: var(--light-gray);
}

.project-cta:hover {
  transform: translateX(10px);
}

.project-image {
  width: 100%;
  height: auto;
  bottom: 0;
}

/* End My Work */

/* Start About */
.about-title {
  margin-top: 15vh;
  font-weight: 700;
}
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-copy {
  flex: 0 0 45%;
  font-size: 16px;
}

.about-image {
  flex: 0 0 30%;
  display: flex;
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 3px;
}

.about-column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* End About */

/* Footer */
footer {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  margin-top: 24px;
  bottom: 0;
  width: 100%;
  color: #000;
}

.footer-content {
  color: var(--dark-gray);
  padding: 30px;
  align-self: center;
  display: flex;
  font-weight: 400;
}
/* End Footer */

/* Media Queries */
@media (max-width: 780px) {
  .intro-image {
    display: none;
  }

  body {
    margin-left: 16px;
    margin-right: 16px;
  }
  header {
    margin-top: 40px;
  }

  #my-work-title {
    margin-top: 40px;
  }

  .card-container {
    flex-direction: column;
  }

  .intro-text {
    flex: 0 1 auto;
  }

  header {
    flex-direction: column;
  }

  .footer-content {
    padding: 16px;
  }
  #nav-bar {
    justify-content: space-around;
    margin-top: 24px;
  }

  #logo {
    display: none;
  }
  .about-title {
    margin-top: 40px;
    justify-content: center;
    text-align: center;
  }

  .about-content {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
}
