body, html {
	height: 100%;
	/*background-color: #fbffe0 !important;*/
	background-color: ##fdfdfd !important;
}

.introWrapper {
	min-height: 560px;
	height: 90vh;
	background-color:##fdfdfd;
}

.cchWrapper {
	background-color: #73BFB8
}

.when2buyWrapper {
	/*background-color: #428bca;*/
	/*background-color: #5C6F68;*/
	background-color: #BF4E30;
}

.resumeWrapper {
	background-color: ##fdfdfd;
}

.aboutWrapper {
	background-color: ##fdfdfd;
}

.yompWrapper {
	
		background-color: #CAD178;
}

.aboutWrapper p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin-left: 25%;
	margin-right: 25%;
	padding-bottom: 3em;
	color: black;
}

.indexTitleText {
	text-align:center;
	color:black;
	font-size: 50px;
}

#intro {
	margin-top: 100px;
}

#name {
	/*color: #ffe500eb;*/
	color:#73BFB8;
	margin-top: 1.5em;
	margin-bottom: .75em;
	font-family: 'Raleway', sans-serif;
}

#description {
	margin-bottom: 10%;
}

.resumeSection h2 {
	font-family: 'Raleway', sans-serif;
}

#workButton {
	position: absolute;
	bottom: 20%;
	border: 1px solid #ffe500eb;
	background-color: #ffe500eb;
	color:black;
	font-weight: bold;
}

.workButton {
	margin-top: 1em;
	margin-bottom: 80px !important;	
	font-size: 24px !important;	
}

.navbar {
/*	position: absolute !important;
*/	top:0;
}

#navbar-contents {
	padding-top: 30px;
	justify-content: flex-end;
	padding-bottom: 30px;
	margin: 0;
}

.navbar-item {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	margin: 0px 1em;
	color: rgba(0,0,0,0.8);

}

li:last-child a{
	margin-right: 0;
}

.navbar-item:hover {
	background-color: transparent !important;
	color: black;
}

.navbar-header {
	width: 100%;
	display:flex;
	align-items: center;
}
.logo {
	float: left;
	width: 120px;
	display: flex;
	text-align: center;
	margin-top: 0;
}

@media screen and (min-width: 768px) {
	#navbar-contents {
		display: flex !important;
		justify-content: flex-end;
		flex:1;
		padding-right: 0;
	}
}

#navbar-contents ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#navbar-contents.show {
	padding-left: 0;
	padding-right: 0;
	background-color: ##fdfdfd;
	margin-bottom: -100px;
}

.logo a h1{
	line-height: 1;
	margin: 0;
	color: black;
}

.logo a:hover {
	text-decoration: none;
}
.SS {
	text-align: center;
	display: block;
	letter-spacing: 0px;
	text-indent: 0;
	font-weight: 900;
	width:100%;
	font-size: 80px;
	font-family: 'Raleway', sans-serif;
}

.name {
	text-align: center;
	display: block;
	letter-spacing: 0px;
	text-indent: 0;
	font-weight: 300;
	width:100%;
	font-size: 15px;
}

.title {
	text-align: center;
	display: block;
	letter-spacing: 0px;
	text-indent: 0;
	font-weight: 300;
	width:100%;
	font-size: 15px;
}

.icon-bar {
	border: solid black 1px;
}

.header-wrapper {
	display:flex;
}

.navbar-toggle {
	position: absolute !important;
	right: 25px;
}

@media screen and (min-width: 768px) {
	a.active {
	border-bottom: solid 4px black;
	}
}

@media screen and (max-width: 768px) {
	.aboutWrapper p {
		font-size: 24px;
		margin-left: 10%;
		margin-right: 10%;
	}
	#navbar-contents {
		width:100%;
		flex-basis: 0;
	}

	.show ul li {
		width: 100%;
		border-bottom: 1px solid black;
	}

	.show ul li a {
		margin: 0;
	}

	a.active {
		border-left: solid 5px black;
	}

	.header-wrapper {
		width:100%;
	}
}

/*.workWrapper {
	height: 100%;
}*/

/*.aboutWrapper {
	    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-bottom: calc(110px + 3em);
    min-height: calc(100% - 142px);
    background: url("../images/image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.aboutContent {
	background-color: rgba(0,0,0,0.3);
	color: white;
}

@media screen and (max-width: 991px) {
	.aboutPic {
		padding: 0 !important;
	}
}

.row {
	max-width: 100%;
	margin:0 !important;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
}

.left-content {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0 !important;
}

.blue-background {
	background-color: #428bca;
}

.yellow-background {
	/*background-color: #ffc107;*/
	/*background-color: #bf9927;*/
	background-color: #73BFB8;
}

.work-image {
 max-height: none;
 max-width:100%;
}

.imageWrapper {
	max-height: 100%;
	margin-top: 2em;
}

.contentWrapper {
	margin: 0 20%;
	font-family: 'Latos', sans-serif;
	font-size: 15px;
	padding-bottom: calc(110px + 3em);
	min-height:calc(100% - 142px);
}

.contentWrapper h4 {
	font-weight: bold;
	border: 1px solid black;
	border-width: 1px 0 0 0;
	border-color: rgba(0,0,0,0.6);
	padding-top:10px;
}
.contentWrapper h4:first-of-type {
	border-width: 0;
}

.resumeSection h5 {
	font-weight: bold;
} 

.resumeSection h5 span {
	font-weight: normal;
} 

.date {
	float:right;
}

.caption {
	font-style: italic;
	text-align: center;
	padding-bottom: 2em;
}

#when2buyBtn {
	margin: 30px;
}

.workHeader {
	margin-top: 3em;
	margin-bottom: 1.5em;
}

.container {
	width: 187.5px !important;
}

.bold {
	font-weight: bold;
	color: black;
}

.full-height {
	min-height: 100%;
	height: 100%;
}

.cchContent p {
	color: white;
	font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.when2buyContent p {
	color: white;
	    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.yompContent p {
	color: white;
	    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.btn-pill {
	border-color: white !important;
    color: white;
    background-color: rgba(0,0,0,.2);
    border-width: 2px !important;
}

.bullet {
	margin-left: -20px;
}

.pic {
	max-width:100%;
	display: flex;
	flex-direction: column;
}

img {
	max-height: 250px;
	width: auto;
	max-width: 100%;
}
}

.pic img {
	align-self: center;
}

#contactInfo {
	display: flex;
	margin: .5em;
	justify-content: center;
}

#contactInfo span {
	border: 1px solid black;
	border-width: 0 1px 0 0;
	padding-right: 3px;
	padding-left: 3px;
}

@media screen and (max-width: 992px) {
	.contentWrapper {
		margin: 0 10%;
	}
}

@media screen and (max-width: 650px) {
	.resume {
		margin: 0 5%;
	}
}

@media screen and (max-width: 578px) {
	.resume {
		margin: 0 10;
	}

	#contactInfo {
		display:none;
	}
}


#download {
	width: 100%;
}

#contactInfo span:last-child {
	border-width: 0	;
}

.footer {
	background-color: rgba(0,0,0,0.8);
	min-height: 50px;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	vertical-align: middle;
	margin-top: -110px;
	/*position: relative;*/
}

.aboutFooter {
	margin-top: 3em;
	position: relative;
	bottom: 0 !important; 
}

@media screen and (min-width: 1280px) {
	.aboutFooter {
		position: absolute;
	}
}

.indexFooter {
	background-color: rgba(0,0,0,0.8);
	display:flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
}

.footer-content {
	color: white;
	padding: 30px;
	align-self: center;
}

.workTitle {
	margin-top: 80px;
	margin-bottom: 30px;
	font-size: 64px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.half-row {
	min-height: 430px;
}

@media screen and (min-width: 1166px) {
	.half-row {
		/*height: 50vh;*/
	}
}

@media screen and (max-width: 1166px) {
	.btn-pill {
	    margin-bottom: 30px !important;
	}
}

@media screen and (max-width: 396px) {
	.footer-content {
		padding: 15px;
	}

}

.aboutNav {
	background-color: #dbf2ff;
	margin-bottom: 0 !important;
}

.row:before {
	display:flex !important;
}

.row:after {
	display: flex !important;
}

.rowSafari {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}